<div class="comments">
    <div id="comments"></div>
    <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
    <script>
    new Gitalk({
        clientID: <%- JSON.stringify(theme.gitalk.clientID) %>,
        clientSecret: <%- JSON.stringify(theme.gitalk.clientSecret) %>,
        repo: <%- JSON.stringify(theme.gitalk.repo) %>,
        owner: <%- JSON.stringify(theme.gitalk.owner) %>,
        admin: [<%- theme.gitalk.admin.map(admin => JSON.stringify(admin)).join() %>],
        id: "<%- post.path.replace(/\/*$/g,'') %>",
        distractionFreeMode: true,
        title: <%- JSON.stringify(post.title) %>,
        body: <%- JSON.stringify(post.permalink) %>,
        labels: [<% if( post.tags ) { %><%- post.tags.map(tag => JSON.stringify(tag.name)).join() %><% } %>]
    }).render('comments');
    </script>
</div>
